.split{
	position: relative;
	display: inline-block;
	
		&__word{
			display: inline-block;
			transform-origin: bottom left;
			will-change: transform;
		}
}

.title{
	padding-bottom: 10rem;
	overflow: hidden;
}