@import "@/app/styles/variables/breackpoints";

.ProductList {
  display: flex;
  flex-direction: column;
  gap: 120rem;
  min-height: 80vh;
  padding-top: 32rem;
}

.categoryList{
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 32rem;
}


.fullSize {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  width: 359rem;
  height: 600rem;
  margin: auto;
  text-align: center;
}

.notFound {
  h4 {
    width: 100%; 
    margin-top: 40rem;
    margin-bottom: 24rem;

    span {
      display: block;
      width: 100%;
      overflow: hidden;
      color: var(--primary-color);
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  p {
    color: var(--gray-800);
    font:var(--font-l);
  }
}

@media (width <= $breakpoint-mob) {
  .ProductList{
    gap: 64rem;
  }

  .categoryList{
    grid-template-columns: repeat(2, 1fr);
    gap: 24rem;
  }
}