@import '@/app/styles/variables/breakpoints';

.intro {
  position: relative;
  display: flex;
  min-height: 100svh;
  padding: 150rem 0 16rem;
  overflow: hidden;
  background-color: var(--black);

    .container {
      position: relative;
      z-index: 2;
    }
  
    &__content {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 100%;
  
        &::before{
          position: absolute;
          top: 69rem;
          right: -26rem;
          width: 1395rem;
          height: 1551rem;
          background-image: url("/images/home/drawn_arrow_bg.svg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: 1395rem 1551rem;
          opacity: .2;
          content: '';
        }
    
        &_top {
          position: relative;
          display: flex;
          flex-direction: column;
          width: 100%;
          padding-bottom: 6rem;
          
            @media (width <= $breakpoint-mob) {
              padding-top: 3rem;
              padding-bottom: 0;
            }
          
            .description {
              position: absolute;
              right: 0;
              bottom: 0;
              margin: 0 25rem 95rem 0;
              color: var(--gray-700);
              font: var(--font-h6);
              writing-mode: vertical-rl;
            }
      
            .title {
              width: fit-content;
              max-width: 485rem;
              color: var(--white);
            }
        }
  
        &_bottom {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          padding: 32rem 0;
          border-top: 1px solid rgb(255 255 255 / 10%);
    
            .subtitle {
              max-width: 425rem;
              color: var(--gray-500);
              font: var(--font-l);
              transform: initial;
            }
        }
    }
  
    &__video{
      position: absolute;
      inset: 0;
    }
}

@media (width <= $breakpoint-mob) {
  .intro {
    padding: 136rem 0 0;

    &__content {
      justify-content: space-between;

      &::before{
        top: 135rem;
        right: 19rem;
        width: 802rem;
        height: 892rem;
        background-size: 802rem 892rem;
      }

      &_top {
        flex: 1 1;
        justify-content: start;

        .description {
          margin: 0 0 24rem;
        }

        .title{
          max-width: 287rem;
        }
      }

      &_bottom {
        flex-direction: column-reverse;
        gap: 24rem;
        padding: 25rem 0;

        .subtitle {
          width: 100%;
        }

        .buttonContainer{
          width: 100%;

          &__button {
            width: 100%;
          }
        }
      }
    }
  }
}