@import "@/app/styles/variables/breakpoints";


.ProductSearch {
  position: sticky;
  top: 32rem;
  display: flex;
  align-items: center;
  min-height: 64rem;
  transition: 1s ease-out;

  span {
    font: var(--font-button-m);
  }
}

.icon {
  position: absolute;
  z-index: 1;
  width: 24rem;
  height: 24rem;
  fill: var(--black);
}

.searchInput {
  position: absolute;
  width: 100%;
  height: 100%;
  height: fit-content;
  padding: 24rem 36rem;
  font: var(--font-button-m);
  text-transform: uppercase;
  border: none;
  outline: none;
}

.line {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1rem;
  background-color: var(--black);
}

.reset{
  position: absolute;
  top: 50%;
  right: 0;
  width: 30rem;
  height: 30rem;
  padding: 0;
  background-color: transparent;
  border: none;
  transform: translateY(-50%);
  
  &::before,
  &::after{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 14rem;
    height: 1rem;
    background-color: var(--gray-800);
    border-radius: 2px;
    content: '';
      
    @media (width <= $breakpoint-mob) {
      height: 1px;
    }
  }

  &::before{
    transform: translate(-50%,-50%) rotate(45deg);
  }

  &::after{
    transform: translate(-50%,-50%) rotate(-45deg);
  }
  
  &:hover{
    cursor: pointer;
      
    &::before,
    &::after{
      background-color: var(--black);
      transition: background-color var(--hover-duration) var(--ease);
    }
  }
}