.ProductSearch {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 64rem;

  span {
    font: var(--font-button-m);
  }
}

.icon {
  position: absolute;
  z-index: 1;
  width: 24rem;
  height: 24rem;
  fill: var(--black);
}

.searchInput {
  position: absolute;
  width: 100%;
  height: 100%;
  height: fit-content;
  padding: 24rem 36rem;
  font: var(--font-button-m);
  text-transform: uppercase;
  border: none;
  outline: none;
}

.line {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1rem;
  background-color: var(--black);
}