@import "@/app/styles/variables/breackpoints";

.product{
	padding-top: 13rem;
	
		&__category{
			display: inline-block;
			padding: 6rem 12rem;
			font-size: 12rem;
			white-space: nowrap;
			background-color: var(--gray-300);
			border-radius: 100px;
		}
	
		&__title{
			margin-top: 25rem;
			margin-bottom: 10rem;
			
				@media (width <= $breakpoint-mob) {
					margin-bottom: -8rem;
					font-size: 38rem;
				}
		}
	
		&__description{
			padding: 6rem 0;
			color: var(--gray-800);
			font-family: var(--font-family-secondary);
			line-height: 1.563em;
			
				@media (width <= $breakpoint-mob) {
					font-size: 14rem;
				}
			
				&:empty{
					display: none;
				}
		}
	
		&__follow{
			margin: 34rem 0 64rem;
			
				@media (width <= $breakpoint-mob) {
					margin: 18rem 0 80rem;
						
						& > div, a, button{
							width: 100%;
						}
				}
		}
	
		&__list{
			margin: 0;
			padding: 8rem 0;
			list-style-type: none;
			
				@media (width <= $breakpoint-mob) {
					padding: 18rem 0;
				}
			
				&_item{
					position: relative;
					display: flex;
					align-items: center;
					justify-content: space-between;
					padding: 13rem 0 14rem;
					border-bottom: 1rem #E9EAEA solid;
					
						@media (width <= $breakpoint-mob) {
							padding: 14rem 0;
							border-width: 1px;
						}
				}
		}
	
		&__label{
			color: var(--gray-800);
			
				@media (width <= $breakpoint-mob) {
					font-size: 14rem;
				}
		}
	
		&__value{
			font-size: 19rem;
			font-family: var(--font-family-primary);
			
				@media (width <= $breakpoint-mob) {
					font-size: 16rem;
				}
		}
}