@import '@/app/styles/variables/breackpoints';

.PackagingContent {
  display: block;
}

@media (width<=$breakpoint-mob) {
  .PackagingContent {
    .HeroInner{
      height: 352rem;
      min-height: 352rem;
    }
  }
}