@import '@/app/styles/variables/breakpoints';

.header {
  position: fixed;
  z-index: 10;
  width: 100%;
  padding: 16rem 36rem;
  transition: padding 1s var(--ease);
  
  @media (width <= $breakpoint-tablet) {
    padding: 0;
  }

  &__container {
    padding: 0 28rem !important;
    border: 1rem solid transparent;
    border-radius: 8rem;
    transition: background-color 0.4s ease-out, box-shadow .2s ease;

    @media (width <= $breakpoint-tablet) {
      height: 100%;
      padding: 0 64rem!important;
      border-radius: 0;
    }

    @media (width <= $breakpoint-mob) {
      padding: 0 24rem !important;
    }
  }

  &.scrolled{
    .header__container {
      background-color: var(--white);
      border: 1rem solid var(--gray-300);
    }
  
    .logo__icon {
      height: 38rem;
    }

    .header__content {
      padding: 10rem 0;
    }

    @media (width <= $breakpoint-tablet) {
      .header__content {
        padding-top: 26rem;
      }

      .logo__icon {
        height: 60rem;
      }
    }

    @media (width <= $breakpoint-mob) {
      .header__content {
        padding: 5rem 0;
      }
    }
  }
  
  .logo{
    display: flex;
   

    &__icon{
      height: 60rem;
      transition: height 0.3s var(--ease);
    }

    @media (width <= $breakpoint-mob) {
      .logo {
        width: auto;

        &__icon{
          display: flex;
          align-items: center;
          height: auto;
        }
      }
    }
  }

  &.dark {
    color: var(--white);

    .navigation {
      &__content{
        &_link {
          color: var(--white);
        }
      }
    }
  }

  &.light {
    color: var(--black);

    .navigation {
      &__content{
        &_link {
          color: var(--black);
        }
      }
    }
  }


  &.opened{
    background-color: var(--black);
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10rem 0;

    &_link{
      position: relative;
      z-index: 10;
      display: flex;
      align-items: center;
    }
    
    &_desktop {
      width: 100%;

      .navigation {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__content{
          display: flex;
          gap: 36rem;
          justify-content: center;
          width: 100%;
          padding: 0 30rem;
          font: var(--font-button-m);

          &_link{
            text-transform: uppercase;
            transition: color var(--hover-duration) var(--ease);

            &.active{
              color: var(--primary-color);
            }

            @media (min-width: $breakpoint-tablet) {
              &:hover{
                color: var(--primary-color);
              }
            }
          }
        }
      }

      &.mobile{
        display: block;
        flex-grow: initial;
        align-self: flex-start;
        width: 100%;
        height: 100%;
        max-height: 100%;
        overflow-y: auto;
        background-color: var(--black);
        background-image: url("/images/home/drawn_arrow_bg_mirr.svg");
        background-repeat: no-repeat;
        background-size: 937rem 1043rem;
        background-attachment: fixed;

        .navigation{
          position: relative;
          flex-direction: column;
          align-items: initial;
          padding: 140rem 56rem;
          overflow: hidden;

          &__content{
            position: relative;
            flex-direction: column;
            gap: 32rem;
            margin: 0 0 64rem;

            &_link{
              color: var(--white);
              font: var(--font-h4);
              text-transform: initial;
              transition: color var(--hover-duration) var(--ease);

              &.active{
                color: var(--primary-color);
              }
            }
          }
        }
      }
    }

    &_mobile {
      position: absolute;
      top: 0;
      left: 0;
      display: none;
      width: 100%;
      height: 100%;
      padding: 0 64rem;
      
      @media (width <= $breakpoint-mob) {
        padding: 0 24rem;
      }
    }
  }
}

@media (width <= $breakpoint-tablet) {
  .header {
    transition: background-color 0.7s ease-out;

    &.dark{
      background-color: initial;
    }

    &__content {
      padding-top: 26rem;
      transition: padding 0.4s ease-out;

      &_desktop {
        display: none;

        &.mobile{
          background-position: top 130rem left 17rem;

          .navigation{
            padding: 194rem 56rem 143rem;

            &__content{
              padding: 0;

              &_link{
                font-size: 24rem;
              }
            }
          }
        }
      }

      &_mobile {
        display: block;
      }
    }

    &__container{
      transition: background-color 0.4s 0.7s ease-out;
    }

    &.opened.scrolled {
      .header__content {
        padding-top: 26rem;
      }
    }

    &.scrolled{
      background-color: var(--white);
      
      .header__container{
        background-color: initial;
        border: initial;
      }
    }

    &.opened{
      background-color: initial;

      .header__container{
        background-color: var(--black);
      }
    }
  }
}

@media (width <= $breakpoint-mob) {
  .header {
    &__content {
      &_desktop {
        &.mobile{
          background-position: top 130rem left 17rem;

          .navigation{
            &__content{
              align-items: center;
            }
          }
        }
      }
    }
  }
}