@import "@/app/styles/variables/breackpoints";

.modal{
	position: relative;
	display: flex;
	justify-content: space-between;
	
		&__thumb{
			width: 132rem;
			height: 132rem;
			margin: 10rem 8rem 0 0;
			
				@media (width <= $breakpoint-mob)  {
					order: 1;
					width: 80rem;
					height: 80rem;
					margin: 0 0 40rem;
				}
			
				&_item{
					width: 100%;
					height: 100%;
					object-fit: contain;
					object-position: center;
				}
		}
	
		&__message{
			@media (width <= $breakpoint-mob)  {
				order: 2;
			}
		}
	
	@media (width <= $breakpoint-mob)  {
		flex-direction: column;
	}
}