@import "@/app/styles/variables/breackpoints";

.DesignsContent{
  position: relative;
  width: 100%;
}

.productsSection{
  position: relative;
  display: flex;
  gap: 32rem;
  width: 100%;
  padding: 132rem 64rem 0;
}

.left {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 64rem;
  width: 304rem;
  height:100%;
  padding-top: 32rem;
  transition: 1s ease-out;
}

.right {
  width: 100%;
  height: 100%;
}

.stickyHeader {
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 32rem 0;
  overflow: hidden;
  background-color: var(--white);
  transition: 1s ease-out;
}

.headerShown {
  top: 76rem;
}


.loadingTrigger {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300rem;
  font: var(--font-h3);
}

@media (width <= $breakpoint-mob) {
  .productsSection{
    flex-direction: column;
    padding: 80rem 24rem 0;
  }

  .left {
    position: static;
  }

  .stickyHeader {
    padding: 0;
  }

  .filters{ 
    display: none;
  }

  .headerShown {
    top: 50rem;
  }
}