@import "@/app/styles/variables/breakpoints";

.DesignsContent{
  position: relative;
  width: 100%;
}

.productsSection{
  position: relative;
  display: flex;
  gap: 32rem;
  width: 100%;
  padding: 132rem 64rem 0;
}

.left {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 64rem;
  width: 304rem;
  height:100%;
  padding-top: 32rem;
  transition: 1s ease-out;
}

.right {
  width: 100%;
  height: 100%;
}

.stickyHeader {
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 32rem 0;
  padding-bottom: 0;
  overflow: hidden;
  background-color: var(--white);
  transition: 1s ease-out;
}

.headerShown {
  top: 76rem;
}

.loader {
  width:75rem;
  height: 75rem;
  border: 2rem solid var(--gray-500);
  border-top-color:var(--gray-700);
  border-radius:50%;
  animation:rotate 1s infinite ease;
}

@keyframes rotate{
  100%{
    rotate:360deg;
  }
}


@media (width <= $breakpoint-mob) {
  .productsSection{
    position: relative;
    flex-direction: column;
    padding: 80rem 0;
  }

  .left {
    position: static;
    width: 100%;
    padding: 0 24rem;
    padding-top: 0;
  }

  .right {position: relative;}

  .overlay{
    position: absolute;
    top: 0%;
    bottom: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    background-color: rgb(0 0 0 / 41.9%);
  }

  .stickyHeader {
    padding: 0;
    background: transparent;

    &__inner {
      position: relative;
      width: 100%;
      padding: 0 24rem;
      background-color: var(--white);
    }
  }

  .filtersMobile {
    position: relative;
    top: 0;
    bottom: 0;
    z-index: 2;
    width: 100%;
    background-color: var(--white);
  }
  

  .title {
    z-index: 2;
    background-color: var(--white);
  }

  .filters{ 
    display: none;
  }

  .headerShown {
    top: 50rem;
  }

  .loadingTrigger {
    height: 150rem;
  }
 
  .loader {
    width: 50rem;
    height: 50rem;
    border-width: 1rem;
  }

  .products{
    position: relative;
    z-index: 1;
    padding-right: 24rem;
    padding-left: 24rem;
  }
}