@import "@/app/styles/variables/breakpoints";

.coin {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  background-color: var(--white);
  border-radius: 100%;
  backface-visibility: hidden;

  &:first-child {
    height: 100%;
  }

  &:last-child {
    border-radius: 0;
  }

  &__photo {
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
}