.menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  display: flex;
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  color: var(--white);

    &::before{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(#24282c, 0.5);
      content: '';
    }
}