@import "@/app/styles/variables/breackpoints";

.ProductFilters{
  display: flex;
  flex-direction: column;
  gap: 32rem;
}

.allProductsCount {
  color: var(--gray-700);
  font: var(--font-s);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 14rem;
  color: var(--gray-800);
  font: var(--font-l);
  list-style-type: none;
}

.listItem {
  display: flex;
  gap: 8rem;
  align-items: center;
  white-space: nowrap;
  transition: .2s ease;

  &.active, &:hover {
    color: var(--primary-color);
    cursor: pointer;
  
    .categoryCount {
      background-color: var(--primary-color);
      border-color: var(--primary-color);
    }
  }  
}

.categoryCount{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 19rem;
  height: 19rem;
  color: var(--gray-500);
  font: var(--font-s);
  border: 0.5rem solid var(--gray-500);
  border-radius: 100%;
  transition: .2s ease;
}


@media (width <= $breakpoint-mob) {
  .ProductFilters {
    justify-content: space-between;
    padding-top: 40rem;
    padding-bottom: 32rem;

  }

  .list {
    gap: 24rem;
 
  }

  .allProductsCount {
    order: 1;
  }
}