@import "@/app/styles/variables/breakpoints";

.form{
	position: relative;
	padding-top: 33rem;
	
		@media (width <= $breakpoint-mob) {
			padding-top: 25rem;
		}
	
		&__title{
			margin-bottom: 40rem;
		}
	
		&__subtitle{
			font-size: 16rem;
		}
	
		&__contacts{
			margin-bottom: 54rem;
			
				&_box{
					padding: 25rem 0;
				}
		}
	
		&__action{
			margin-top: 15rem;
		}
	
		&__box{
			display: block;
		}
}