@import "@/app/styles/variables/breackpoints";

.ListTitle {
  position: relative;
  height: 65rem;
  overflow: hidden;
  border-bottom: 1rem solid var(--black);

  &__inner {
    display: flex;
    align-items: flex-end;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 36rem;
    overflow: hidden;
  }

  h3 {
    white-space: nowrap;
  
  }

  h6 {
    white-space: nowrap;

    span {
      color: var(--primary-color);
    }
  }
}

.titleWrapper {
  height: 100%;
  overflow: hidden;
}


@media (width <= $breakpoint-mob) {
  .ListTitle {
    gap: 15rem;
    align-items: center;
    height: 50rem;
    padding-top: 10rem;

    &__inner {
      gap: 10rem;
      padding-right: 32rem;
      padding-bottom: 16rem;
    }

  
    h3 {
      flex: 1;
      overflow: hidden;
      font: var(--font-h4);
      text-overflow: ellipsis
    }

    h6 {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24rem;
      padding: 5rem;
      white-space: nowrap;
      border: 1rem solid var(--gray-500);
      border-radius: 50%;
    }
  }

  .dropdownIcon{
    position: absolute;
    top: 50%;
    right: 0;
    width: 24rem;
    height: 24rem;
    transform: translateY(-50%);
    transition: .2s ease;

    &.opened {
      color: var(--primary-color);
      transform: translateY(-50%) rotateX(-180deg);
    }
  }
}

