@import '@/app/styles/variables/breakpoints';

.Logo {
  width: 200rem;
  fill: var(--black);

    @media (width <= $breakpoint-mob) {
      width: 125rem;
    }
  
    svg{
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: left center;
    }
}

