@import "@/app/styles/variables/breackpoints";

.CustomMintingContent {
  min-height: 100vh;

  &__moment{
    margin: 164rem 0;
      
    @media (width <= $breakpoint-mob) {
      margin: 81rem 0;
    }
  }
  
  &__marketing{
    padding: 148rem 0;
      
    @media (width <= $breakpoint-mob) {
      padding: 64rem 0 0;
    }
  }
  
}