.video {
  position: absolute;
  inset: 0;
  
    &__item{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  
    &__poster{
      position: absolute;
      inset: 0;
      
        &_item{
          width: 100%;
          height: 100%;
        }
    }
}