@import "@/app/styles/variables/breackpoints";

.preloader{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 12;
	width: 100%;
	height: 100svh;
	padding: 64rem;
	background-color: var(--white);
	transform-origin: center bottom;
	opacity: 0.5;
	
		@media (width <= $breakpoint-mob) {
			padding: 30rem 24rem;
		}
	
		//&::before{
		//	position: absolute;
		//	z-index: -1;
		//	background-color: var(--black);
		//	content: '';
		//	inset: -50vh -50vw;
		//}
		//
		//&__bg{
		//	position: absolute;
		//	inset: 0;
		//	background-color: var(--white);
		//}
	
		&__bg{
			position: absolute;
			inset: 0;
			background-color: var(--black);
		}
	
		&__label{
			position: absolute;
			top: 64rem;
			right: 64rem;
			display: flex;
			flex-direction: column;
			color: var(--gray-700);
			font-weight: 500;
			letter-spacing: -0.01em;
			text-align: right;
			text-transform: lowercase;
			
				@media (width <= $breakpoint-mob) {
					top: 32rem;
					right: 23rem;
					font-size: 14rem;
				}
			
				span{
						&:not(:last-child){
							margin-bottom: 10rem;
						}
				}
		}
	
		&__title,
		&__percent{
			bottom: 45rem;
			color: var(--primary-color);
			font-weight: 300;
			font-size: 96rem;
			font-family: var(--font-family-primary);
			line-height: 1em;
			letter-spacing: -0.01em;
		}
	
		&__title{
			position: absolute;
			left: 64rem;
			
				@media (width <= $breakpoint-mob) {
					display: none;
				}
			
				&_dot{
					display: inline-block;
					transform-origin: center;
					will-change: opacity;
					
						@media (width > $breakpoint-mob) {
							&:nth-child(2),
							&:nth-child(3){
								animation: dot ease 1s infinite;
							}
							
							&:nth-child(3){
								animation-delay: 0.1s;
							}
						}
				}
		}
	
		&__percent{
			position: absolute;
			right: 64rem;
			display: flex;
			align-items: flex-end;
			justify-content: flex-end;
			height: 96rem;
			overflow: hidden;
			text-align: right;
			
				@media (width <= $breakpoint-mob) {
					right: auto;
					bottom: 17rem;
					left: 24rem;
					height: 74rem;
					font-size: 72rem;
				}
			
				&_item{
					position: relative;
					transition: transform .5s ease;
					
						&:nth-child(1){
							transform: translateY(-96rem);
							
								@media (width <= $breakpoint-mob) {
									transform: translateY(-74rem);
								}
						}

						&:nth-child(2){
							transform: translateY(-96rem);
							transition-delay: .1s;
							
								@media (width <= $breakpoint-mob) {
									transform: translateY(-74rem);
								}
						}

						&:nth-child(3){
							transform: translateY(0);
							transition-delay: .2s;
						}
				}
			
				&.__1{
					.preloader__percent{
							&_item{
								&:nth-child(2){
									transform: translateY(0);
								}
								
								&:nth-child(3){
									transform: translateY(96rem);
									
										@media (width <= $breakpoint-mob) {
											transform: translateY(74rem);
										}
								}
							}
					}
				}
			
				&.__2{
					.preloader__percent{
						&_item{
							&:nth-child(2){
								transform: translateY(96rem);
								
									@media (width <= $breakpoint-mob) {
										transform: translateY(74rem);
									}
							}
							
							&:nth-child(3){
								transform: translateY(192rem);
								
									@media (width <= $breakpoint-mob) {
										transform: translateY(144rem);
									}
							}
						}
					}
				}
			
				&.__3{
					.preloader__percent{
						&_item{
							&:nth-child(1){
								transform: translateY(0);
							}
							
							&:nth-child(2){
								transform: translateY(192rem);
								
									@media (width <= $breakpoint-mob) {
										transform: translateY(144rem);
									}
							}
							
							&:nth-child(3){
								transform: translateY(288rem);
								
									@media (width <= $breakpoint-mob) {
										transform: translateY(216rem);
									}
							}
						}
					}
				}
		}
	
		&__thumb{
			position: absolute;
			top: 58%;
			left: 50%;
			width: 128rem;
			height: 240rem;
			margin-top: -120rem;
			margin-left: -64rem;
			
				@media (width <= $breakpoint-mob) {
					top: 57%;
				}
			
				img{
					width: 100%;
					height: 100%;
					object-fit: contain;
					object-position: center;
				}
		}
}

@keyframes dot {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}