@import '@/app/styles/variables/breackpoints';

.BecomeDistributorSection {
  position: relative;
  height: 200vh;
  color: var(--white);
  text-align: center;

  .title {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 4;
    display: flex;
    flex-direction: column;
    gap: 16rem;
    align-items: center;
    justify-content: center;
    color: var(--black);
    transform: translateX(-50%);

    h6 {
      color: var(--gray-700);
    }
  }

  .stickyContainer {
    position: sticky;
    top: 0;
    z-index: 2;
    height: 100vh;
    overflow: hidden;
  }


  &::before {
    position: absolute;
    top: -962rem;
    right: 193rem;
    z-index: 2;
    width: 1458rem;
    height: 1617rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1458rem 1617rem;
    transform: rotate(-180deg);
    opacity: .5;
    content: '';
    pointer-events: none;
  }

  .top, .bottom {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 50vh;
    padding: 0 30rem;
    overflow: hidden;
    background-color: var(--white);

    .text{
      display: block;
      color: var(--black);
      font: var(--font-decorative);
      letter-spacing: -10rem;
      white-space: nowrap;
    }
  }

  .top {
    top: 0;

    .text  {
      position: absolute;
      top: 100%;
    }
  }

  .bottom {
    bottom: 0;

    .text  {
      position: absolute;
      bottom: 100%;
    }
  }

  &__content {
    position: relative;
    z-index: 2;
    height: 100vh;
    overflow: hidden;
    background-color: var(--black);

    &_inner{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }

    &_description {
      max-width: 540rem;
      padding: 13rem 0 40rem;
      color: var(--gray-300);
    }
  }
}

@media (width <= $breakpoint-mob) {
  .BecomeDistributorSection {
      .top, .bottom {
        padding: 0;

        .text {
          font-size: 90rem;
          letter-spacing: -4rem;
          white-space: normal;
          text-align: center;
        }
      }

    &::before {
      top: -178rem;
      right: 168rem;
      width: 1052rem;
      height: 1165rem;
      background-size: 1052rem 1165rem;
      transform: initial;
    }

    &__content {
      padding: 0 15rem;

      &_description {
        max-width: 280rem;
        padding: 6rem 0 24rem;
      }

      .buttonContainer {
        width: 100%;

        &__button {
          width: 100%;
        }
      }
    }
  }
}