@import "@/app/styles/variables/breakpoints";

.clock{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 110rem;
	min-width: 110rem;
	height: 110rem;
	border-radius: 50%;
	
		@media (width <= $breakpoint-mob) {
			width: 200rem;
			height: 200rem;
		}
	
		&__hor,
		&__min,
		&__sec{
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			transform-style: preserve-3d;
			backface-visibility: hidden;
			will-change: transform;

				&_item{
					position: absolute;
					bottom: 0;
					width: 1.5px;
					background-color: var(--black);
					border-radius: 2px;
				}
		}
	
		&__hor{
				&_item{
					height: 16rem;
					
						@media (width <= $breakpoint-mob) {
							height: 28rem;
						}
				}
		}
	
		&__min{
				&_item{
					height: 27rem;
					
						@media (width <= $breakpoint-mob) {
							height: 50rem;
						}
				}
		}
	
		&__sec{
				&_item{
					height: 45rem;
					background-color: var(--primary-color);
					
						@media (width <= $breakpoint-mob) {
							height: 78rem;
						}
				}
		}
	
		&__border{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: contain;
			color: var(--gray-700);
		}
}