@import "@/app/styles/variables/breackpoints";

.filter{
	position: relative;
	
		&__header{
			position: relative;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding-bottom: 12rem;
			
				&::before{
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 1px;
					background-color: var(--black);
					opacity: .1;
					content: '';
				}
			
				&_item{
					flex: 1;

						&:nth-child(2){
							text-align: right;
						}
				}
			
				&_label{
					color: var(--gray-700);
					font-size: 12rem;
					transition: opacity var(--hover-duration) var(--ease);
				}
		}
	
		&__options{
			position: relative;
			display: flex;
			flex-direction: column;
			gap: 18rem;
			padding: 16rem 4rem;
		}
	
		&__option{
			position: relative;
			display: flex;
			
				&:hover{
					cursor: pointer;
				}
			
				&_title{
					font-weight: 400;
					font-size: 12rem;
				}
				
				&_label{
					color: var(--gray-800);
				}
		}
	
		&__checkbox{
			position: relative;
			display: flex;
			
				& + *{
					margin-left: 12rem;
				}
			
				&_input{
					position: absolute;
					top: 0;
					left: 0;
					opacity: 0;

						&:checked + div{
							background-color: var(--primary-color);
							border-color: var(--primary-color);
							
								svg{
									opacity: 1;
								}
						}
				}
			
				&_icon{
					display: flex;
					align-items: center;
					justify-content: center;
					width: 18rem;
					height: 18rem;
					margin-top: 1rem;
					color: var(--white);
					border: 2rem var(--gray-700) solid;
					border-radius: 4px;
					
						@media (width <= $breakpoint-mob) {
							border-width: 2px;
						}
					
						svg{
							opacity: 0;
						}
				}
		}
	
		&__button{
			padding: 0;
			color: var(--primary-color);
			font-weight: 500;
			font-size: 12rem;
			font-family: var(--font-family-primary);
			text-transform: uppercase;
			text-decoration: underline;
			background-color: transparent;
			border: none;
			transition: color var(--hover-duration) var(--ease);
			
				&[disabled]{
					color: var(--gray-700);
					pointer-events: none;
				}
			
				&:hover{
					color: var(--black);
					cursor: pointer;
				}
		}
	
		&__dropdown{
			width: 100%;
			max-width: 320rem;
			margin: -74rem 0 0 auto;
			
				@media (width <= $breakpoint-mob) {
					margin: 0;
				}
		}
	
		&__tags{
			position: relative;
			display: flex;
			flex-wrap: wrap;
			gap: 5rem 16rem;
			justify-content: flex-start;
			max-width: 50%;
			padding: 24rem 0;
			
				@media (width <= $breakpoint-mob) {
					display: block;
					max-width: 100%;
					margin-bottom: -10rem;
					padding-right: 18rem;
					padding-left: 24rem;
					overflow-x: auto;
					white-space: nowrap;
				}
			
				&_item{
					display: inline-flex;
					align-items: center;
					padding: 9rem 13rem;
					font-weight: 400;
					font-size: 12rem;
					font-family: var(--font-family-secondary);
					white-space: nowrap;
					background-color: var(--gray-300);
					border-radius: 100px;
					
						@media (width <= $breakpoint-mob) {
							margin-right: 6rem;
						}
					
						&:hover{
							cursor: pointer;
						}
				}
			
				&_icon{
					width: 10rem;
					height: 10rem;
					margin-right: 10rem;
					color: var(--primary-color);
				}
			
				&_border{
					display: none;
					width: 100%;
					height: 1px;
					margin-top: 9rem;
					margin-bottom: -23rem;
					background-color: var(--black);
					opacity: .1;
					
						@media (width <= $breakpoint-mob) {
							display: block;
						}
				}
			
				.filter__button{
					@media (width <= $breakpoint-mob) {
						display: none;
					}
				}
		}
	
		&__tagsBox{
			position: relative;

				@media (width <= $breakpoint-mob) {
					position: relative;
					margin: 0 0 9rem -24rem;
					overflow: hidden;
				}
				
				& > .filter__button{
					position: absolute;
					top: 16rem;
					right: 0;
					z-index: 1;
					padding-left: 10rem;
					line-height: 4em;
					background-color: var(--white);
					
						&::before{
							position: absolute;
							top: 0;
							right: calc(100% - 5rem);
							z-index: -1;
							width: 35rem;
							height: 100%;
							background: linear-gradient(270deg, #FFF 23.53%, rgb(255 255 255 / 0%) 100%);
							content: '';
							pointer-events: none;
						}
	
						@media (width > $breakpoint-mob) {
							display: none;
						}
				}
		}
}