@import "@/app/styles/variables/breackpoints";

.image{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 528rem;
	height: 528rem;
	margin-bottom: 24rem;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border: 1rem var(--gray-200) solid;
	border-radius: 50%;
	perspective: 600px;
	
	@media (width <= $breakpoint-mob) {
		width: 312rem;
		height: 312rem;
		margin-bottom: 12rem;
		border-width: 1px;
	}
	
	&__item{
		position: relative;
		width: 348rem;
		height: 348rem;
		border-radius: 50%;
		transform-style: preserve-3d;
		transition: transform .5s ease-in-out;
			
		@media (width <= $breakpoint-mob) {
			width: 232rem;
			height: 232rem;
		}
			
		&_side{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			backface-visibility: hidden;
			will-change: transform;
					
			&.front{
				transform: rotateY(0deg);
			}

			&.back{
				transform: rotateY(180deg);
			}
					
			img{
				width: 100%;
				height: 100%;
				object-fit: contain;
				object-position: center;
			}
		}
	}
	
	&.active-side-0{
		.image__item{
			transform: rotateY(0deg);
		}
	}

	&.active-side-1{
		.image__item{
			transform: rotateY(180deg);
		}
	}

	&.active-side-obverse{
		.image__item{
			transform: rotateY(0deg);
		}
	}

	&.active-side-reverse{
		.image__item{
			transform: rotateY(180deg);
		}
	}
	
	&__sound{
		display: none;
	}
}

.thumbs{
	display: flex;
	gap: 16rem;
	align-items: center;
	justify-content: center;
	margin-top: 24rem;
	
	@media (width <= $breakpoint-mob) {
		margin-top: 12rem;
	}
	
	&__item{
		position: relative;
		width: 64rem;
		height: 64rem;
		border-radius: 50%;
			
		@media (width <= $breakpoint-mob) {
			width: 72rem;
			height: 72rem;
		}
			
		img{
			width: 100%;
			height: 100%;
			object-fit: contain;
			object-position: center;
		}
			
		&:hover{
			cursor: pointer;
		}
	}
}