@import "@/app/styles/variables/breackpoints";

.contactContent{
	position: relative;
	padding-top: 214rem;

	
	@media (width <= $breakpoint-mob) {
		padding-top: 154rem;
	}
	
	&__body{
		padding-bottom: 64rem;
			
		@media (width <= $breakpoint-mob) {
			padding-bottom: 20rem;
		}
	}
	
	&__form{
		padding-bottom: 64rem;
			
		@media (width <= $breakpoint-mob) {
			padding-bottom: 45rem;
		}
	}
}